#container{
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 1px solid black;
   
}
    
.cell{
    height: 20px;
    background-color: lightblue;
}

#edit-size-btn{
    cursor: pointer;
}

#color-randomizer{
    cursor: pointer;
}